<%- include('partials/header') %>

<div class="row align-items-center">
  <!-- Profile picture on left -->
  <div class="col-md-4 text-center">
    <img src="/images/avatar.png" alt="Saad Habib" class="rounded-circle mb-3" width="150">
  </div>

  <!-- About me text on right -->
  <div class="col-md-8">
    <h2>About Me</h2>
    <p>Hi, I'm Saad Habib, an IT & Network Security student based in Toronto. I am passionate about learning about web development and cybersecurity to solve real world problems.</p>

    <h4>Skills</h4>
    <ul>
      <li>Node.js / Express.js</li>
      <li>Web Development ~ HTML & CSS</li>
      <li>Python Programming</li>
      <li>Network Security Basics</li>
    </ul>
  </div>
</div>

<%- include('partials/footer') %>
