<%- include('partials/header') %>

<h2 class="mb-4 text-center">My Projects</h2>

<div class="row">
  <!-- Project 1: Network Topology -->
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Network Topology</h5>
        <p class="card-text">A Toronto based topolgy built using Cisco Packet Tracer.</p>
      </div>
    </div>
  </div>

  <!-- Project 2: Comp Arch Project -->
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Computer Arc. Project</h5>
        <p class="card-text">Compared differences between ARMv7 and RISC-V architectures.</p>
      </div>
    </div>
  </div>

  <!-- Project 3: Portfolio Website -->
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Portfolio Website</h5>
        <p class="card-text">Created my portfolio website using HTML and CSS.</p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
